<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MyConn" connectionString="Data Source=DESKTOP-AMMHF6M;Initial Catalog=signUpDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add name="dbcs" connectionString="Data Source=.;Initial Catalog=hamro_woda_db;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
	  <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="no-NP" uiCulture="ne-NP"/>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="false" />
  </system.webServer>
  
</configuration>