<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="MyConn"
			 connectionString="Data Source=DESKTOP-AMMHF6M;Initial Catalog=signUpDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
	
	<system.web>
		
		<!-- Compilation settings -->
		<compilation debug="true" targetFramework="4.8" />

		<!-- HTTP runtime settings -->
		<httpRuntime targetFramework="4.8" />

		<!-- Custom errors off for development -->
		<customErrors mode="Off" />

		<!-- Pages settings (optional but good practice) -->
		<pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="false" />
	</system.webServer>
	
</configuration>
